<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>bg.su.fmi.st.calendar.model</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>10</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>bg.su.fmi.st.calendar.model.test.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ViewAllEventsTableServlet</servlet-name>
		<servlet-class>bg.su.fmi.st.calendar.servlet.events.ViewAllEventsTableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAllEventsTableServlet</servlet-name>
		<url-pattern>/viewAllEvents</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ViewMyEventsTableServlet</servlet-name>
		<servlet-class>bg.su.fmi.st.calendar.servlet.events.ViewMyEventsTableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewMyEventsTableServlet</servlet-name>
		<url-pattern>/viewMyEvents</url-pattern>
	</servlet-mapping>
	
	<!-- CONTROLLERS -->
	<servlet>
		<servlet-name>ViewEventControllerServlet</servlet-name>
		<servlet-class>bg.su.fmi.st.calendar.servlet.events.controller.ViewEventControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewEventControllerServlet</servlet-name>
		<url-pattern>/viewEventController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InviteToEventControllerServlet</servlet-name>
		<servlet-class>bg.su.fmi.st.calendar.servlet.events.controller.InviteToEventControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InviteToEventControllerServlet</servlet-name>
		<url-pattern>/inviteEventController</url-pattern>
	</servlet-mapping>		
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Authenticated part</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>USER</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>For everyone</web-resource-name>
			<url-pattern>/signup.html</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>For everyone</web-resource-name>
			<url-pattern>/users</url-pattern>
			<http-method>POST</http-method>
		</web-resource-collection>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>For everyone</web-resource-name>
			<url-pattern>/users</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>USER</role-name>
		</auth-constraint>
	</security-constraint>

	<security-role>
		<description>Users</description>
		<role-name>USER</role-name>
	</security-role>
	<security-role>
		<description>Administrators</description>
		<role-name>ADMIN</role-name>
	</security-role>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/login-failed.html</form-error-page>
		</form-login-config>
	</login-config>

	<resource-ref>
		<description>MySQL Datasource</description>
		<res-ref-name>jdbc/sports</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>